body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
	
}

.bg-light { 
	background-color: #f6b319 !important;
}


#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: 0.7em;
	margin-top: 15px;
}
.navbar-brand p span {
	vertical-align: middle;
}
.header__container {
	justify-content: left !important;
}

#logo-img {
	background: url('../img/restaurant-logo_large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

#nav-lsit {
	margin-top: 10px;
}

#nav-list a {
	color: #951c49;
	text-align: center;
}
#nav-list a:hover{
	background: #e7e7e7;
}

#nav-list a span {
	font-size: 1.8em;
}

#phone {
	margin-top: 5px;
}
#phone a {
	text-align: right;
	padding-bottom: 0;
}
#phone div {
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}


.navbar-brand {
	float: left;
}


.navbar-collapse {
	flex-grow: 0;
}
.top_img {
	width: 50px;
}

.nav-item a{
	display: flex;

}
a.nav-link {
	padding-top: 0;
	padding-bottom: 0;

}
.navbar-nav li {
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-header div {
	float: left;

}
.navbar-header h1 {
	margin-top: 40px;
}
.jumbotron {
	padding:0;
	box-shadow: 0 0 50px #3f0c1f;
}
.img-responsive {
	width: 100%;
	height: 100%;
}

#menu-title, #special-title, #map-title {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;

}
#menu-title:hover, #special-title:hover, #map-title:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-title {
	background-image: url(../img/menu-tile.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
#menu-title span, #special-title span, #map-title span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
#special-title {
	background-image: url(../img/specials-tile.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
.text-center {
	width: 100%;
	text-align: center;
}
.visible-xs{
	visibility: hidden;
}

/* Menu*/
.category-tile {
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}
.category-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
	
}
.category-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title + div {
	margin-bottom: 50px;
}

/* end of menu */

/* sigle menu */
.menu-item-tile {
	margin-bottom: 25px;
}
.menu-item-tile hr {
	width: 80%;
}
.menu-item-tile .menu-item-price {
	font-size: 1.1em;
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
	font-size: .6em;
}
.menu-item-photo {
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px;
}
.menu-item-photo div {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align: center;
}
.menu-item-description {
	padding-right: 30px;
}
h3.menu-item-title {
	margin: 0 0 10px;
}
.menu-item-details {
	font-size: 0.9em;
	font-style: italic;
}

#menu-categories-title {
	margin-top: 50px;
	margin-bottom: 50px;
}
@media (max-width:575px) {
	.navbar-header {
		visibility: hidden;
		height: 80px;
	}
	#menu-title, #special-title {
		width: 360px;
		margin: 0 auto 15px;

	}
	.visible-xs{
		visibility: visible;
	}

}
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}
.panel-footer div.row {
	margin-bottom: 35px;
}
#hours, #adress {
	line-height: 2;
}
#hours>span, #adress>span {
	font-size: 1.3em;
}
#adress p {
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
#testimonials {
	font-style: italic;
}
#testimonials p:nth-child(2) {
	margin-top: 25px;
}

@media (max-width:1091px) {
	#nav-list li {
		color: #951c49;
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

}

@media (max-width: 479px) {
	.col-xxs-12 {
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;

	}
}

@media (max-width: 767px) {
	.menu-item-photo {
		margin-right: auto;
	}
	.menu-item-tile .menu-item-price {
		text-align: center;
	}
	.menu-item-description {
		text-align: center;
	}
}

